.main-container {
  margin: 50px 0;
}

.welcome-header {
  font-size: 25px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-btn {
  background-color: #47a04b;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: rgb(236, 233, 233);
  border-radius: 6px;
  box-shadow: 4px 4px 15px #3e3e3e;
}

.add-btn:hover {
  background-color: #368339;
}
.confirm-div {
  background-color: #ccc;
}

.green-btn {
  background-color: #47a04b;
}

.green-btn:hover {
  background-color: #368339;
}

.green-btn:active {
  background-color: #2d6830;
}

.green-btn:disabled {
  background-color: #c8eac9;
  color: #1b7a43;
}

.red-btn {
  background-color: #f93a3a;
}

.red-btn:hover {
  background-color: #e71f1f;
}

.red-btn:active {
  background-color: #c21313;
}

.red-btn:disabled {
  background-color: #ffc7c7;
  color: #c21313;
}

.confirm-div {
  font-size: 14px;
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 4px 4px 15px #3e3e3e;
  font-family: "Segoe UI", Tahoma, sans-serif;
  cursor: default;
}

.confirm-div button {
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 4px;
  color: #fff;
  border: none;
  height: 30px;
}

.confirm-div div {
  display: flex;
  flex-direction: column;
}

.confirm-div div strong {
  margin-bottom: 15px;
}

.warning-general {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

.modals-container {
  height: 32px;
  margin: 20px 0;
  gap: 7px;
  width: 100%;
}

input {
  border-radius: 5px;
  width: 100%;
  padding: 5px 0;
}
